.car-card {
  border: 1px solid rgba(128, 128, 128, 0.57);
  border-radius: 1rem;
  padding: 1rem;
  max-height: 800px;
}

.card-description {
  // border: 1px solid red;
  height: 60px;
  overflow: scroll;
}

.card-price {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
